<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Inventory</title>
</head>

<body>
    <h1> Form to add meds</h1>

    <form class="" action = "/meds/add" method = "POST">
        <input type = "text" name = "name" placeholder = "Enter name"/>
        <input type = "text" name = "count" placeholder = "Enter count"/>
        <input type = "text" name = "brand" placeholder = "Enter brand name"/>
        <button type = "submit">Add</button>
    </form>
</body>

</html>