<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Inventory Edit</title>
</head>

<body>
    <h1>This is the page which edits the meds</h1>

    <form action ="/meds/edit/:{{med.mid}}" method = "POST">
        <input type = "text" name = "name" value = "{{med.name}}" placeholder = ""/>
        <input type = "text" name = "count" value = "{{med.count}}" placeholder = ""/>
        <input type = "text" name = "brand" value = "{{med.brand}}" placeholder = ""/>
        <button type = "submit">Save</button>
    </form>

</body>

</html>